.Kcard img{
  max-height: 25vh;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.Kcard p{
  font-size: 14px;
}
.Kcard h3{
  text-align: center;
}
.Kcard{
  height: 70vh;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 1px #d9d9d9;
}
.Kcard p{
  padding: 5px;
}
.donate{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 10px;
  left: 30px;
  margin-left: 5px;

}
.btn-primary{
  border: 1px solid transparent;
  -webkit-animation: glow 2.0s infinite alternate;
   -webkit-transition: border 2.0s linear, box-shadow 2.0s linear;
     -moz-transition: border 2.0s linear, box-shadow 2.0s linear;
          transition: border 2.0s linear, box-shadow 2.0s linear;

}
textarea{
  margin-top: 10px;
  width: 100%
}

@-webkit-keyframes glow {
    to {
         border-color: #007bff;
    -webkit-box-shadow: 0 0 5px 2px #007bff;
       -moz-box-shadow: 0 0 5px 2px #007bff;
            box-shadow: 0 0 5px 2px #007bff;
    }
}

.image {

  overflow: hidden;
    -webkit-animation:spin 44s linear infinite;
    -moz-animation:spin 44s linear infinite;
    animation:spin 44s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.navbar-dark .navbar-toggler {
    color: rgb(0 0 0 / 50%);
    border-color: rgb(250 250 250 / 90%);
}
.sticky .navbar-dark .navbar-nav .nav-link {
    color: rgba(0,0,0) !important;
}
.nav-link:hover {
    cursor: pointer;
}
#topbar.sticky .navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: black !important;
}
.sticky.button.navbar-toggler.collapsed {
    border-color: #000;
}

.navbar-light .navbar-toggler-ico {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 250, 259, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e) !important;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgb(250 250 250);
}





.card {




    background: #222;
    overflow: hidden;
          border-radius: 10px;

}
.card .imgBx, .card .details {
    width: 100%;
    height: 100%;
    position: absolute;
          border-radius: 10px;

}

.card .imgBx {

    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding: .5em;
    transition: left .5s;
      will-change: left;

}

.card:nth-of-type(1) .imgBx {
    background-image: url('./pc.jpg');
}

.card:nth-of-type(2) .imgBx {
    background-image: url(http://lorempixel.com/400/400/nature/2/);
}

.card:nth-of-type(3) .imgBx {
    background-image: url(http://lorempixel.com/400/400/nature/3/);
}

.card:hover .imgBx {
    top: 0;
    left: -100%;
}

.card .imgBx img {
    width: 100%;
}

.card .imgBx nav {
  position: absolute;
  background: rgba(0, 0, 0, .35);
text-align: center !important;
bottom: 10px;
}

/*shows only om touch devices*/
.card .details nav {

    display:none;
  position: absolute;
    right: 10px;
    bottom:10px;
  background: rgba(0, 0, 0, .35);
  width: 34px;
  height: 34px;
  color: white;
    border: 1px solid white;
  border-radius: 50%;
}
.card .details nav:after {
  content: 'X';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  margin-top: 0;
}

.card .details {
        color: #fff;
    background: #222;
    top: 0;
    left: 100%;
    padding: 0;
    transition: left .5s;
      will-change: left;
}
.card:hover .details {
    top: 0;
    left: 0%;
}

.card .detailsBGtouch {
    background: #444;
}

.card .details h2 {
    text-align: center;
    margin: 0;
    padding: 10px;
    border-bottom: 2px solid #fff;
}

.card .details p {
    margin: 0;
padding: 1em;
}

.card .details p a {
    color: #fffccc;
}

.card .details span {
    color: #999;
    display:block;
line-height:2em;
    text-align: center;
    letter-spacing: 10px;
}

.card .details ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.card .details li a {
    display:block;
    color: #fff;
    text-decoration: none;
    padding: 5px 1em;
        background:#444;
    border-top: 1px solid #666;
        border-bottom: 1px solid #000;
font-size:90%;
    line-height:1;
}
.card .details li a:hover {
    background:#333;
}

.logtxt{opacity:0;
position:absolute;
    width:100%;
    height:40px;
    z-index:2;
    background:rgba(0,0,0,.5);
    margin:0;
}
.container1 {
  display: flex;
  width: 100%;
  height: 35vh;
  box-sizing: border-box;
  border: 3px solid #000;
}
.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  line-height: 0;
}

.box>img {
  width: 200%;
  height: 100%;
  object-fit: cover;
  transition: .5s;
}

.box>span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover {
  flex: 1 1 50%;
}

.box:hover>img {
  width: 100%;
}
.pic img{
height: 25vh;
}
.container .col{
  padding: 0px;
}
.footer{
  background-image: url('./covid.jpg');
  height: 70vh;
}
.containt{
  margin-top: 25%;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}
.containt p{
  font-size: 24px;
}
