@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
}

.small{
	display: none;
}

.ov{
	overflow-y: hidden;
	text-align: center;
	padding-top: 80px
}
@media only screen and (max-width: 768px) {

.big{
	display: none;
}
.small{
	display: block;
}

  .banner
  {

  	height: 100vh;

  }

  .banner2
  {


  height: 100vh;


  }

  .banner3
  {

height: 100vh;

  }
	.banner h2
	{
		font-size: 18px;


	}
	section
	{
		padding-bottom: : 0px !important;
	}
}
section
{
	padding: 20px;
}
.banner
{

	min-height: 60vh;
	background: url(background.jpg);
	background-size: cover;
	padding-top: 25vh;
	text-align: center;
}

.banner2
{

	background: url(background2.jpg);
	min-height: 60vh;

	background-size: cover;
	padding-top: 25vh;
	text-align: center;
}

.banner3
{
	position: relative;
	min-height: 60vh;
	padding-top: 25vh;
	background: url(background3.jpg);
	background-size: cover;
	background-position: right;

text-align: center;
}





.banner h2
{
	font-size: 3em;
	color: #fff;
	font-weight: 500;

}
.banner2 h2
{
	font-size: 3em;
	color: #fff;
	font-weight: 500;

}

.banner3 h2
{
	font-size: 3em;
	color: #fff;
	font-weight: 500;

}

.banner h2 span
{
	font-size: 37px;
	font-weight: 400;
}
#topbar
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
}

#topbar.sticky
{
	background: #f9f9f9f7;
	color: #000 !important;

}
.sticky .navbar-dark .navbar-toggler {
    color: rgb(0 0 0 / 50%);
    border-color: rgb(0 0 0 / 90%);
}

.sticky>.navbar-dark>.navbar-toggler {
    color: rgba(0,0,0,);
    border-color: black !important;
}
.navbar{

}

.btn
{
	position: relative;
	background : #2196f3;
	display: inline-block;
	color: #fff;
	margin-top: 20px;
	padding: 10px 30px;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 500;

}




header .logo
{
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
}

header ul
{
	position: relative;
	display: flex;
}

header ul li
{
	position: relative;
	list-style: none;
}
.navbar-light .navbar-brand {
    color: rgba(250,250,250,.9);
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255 / 90%);
}
.sticky .navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0 / 90%);
}
header ul li a
{
	position: relative;
	display: inline-block;
	margin:  0 15px;
	color: #fff;
	text-decoration: none;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: normal;
}
.fss{
	overflow: hidden;
}
#exampleInputEmail1{
	margin: 5px 0px;
}
#topbar.sticky ul li a
{
	color: #111;
}
#topbar.sticky a
{
	color: #111;
}
#topbar.sticky .logo
{
	color: #111;
}
.Heading
{
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	color: #111;
}
#heading{
	font-size: 33px;
	text-align: center;
}

.content
{
	display: flex;
	justify-content: space-between;
}

.cbx h3
{
	font-size: 24px;
	margin-bottom: 10px;
}

.ending .content
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.ending .content .endingbox
{

	padding: 10%;

}

.ending .content .endingbox img
{

	width: 100%;
}

.img img
{
	height: 50%;
}
